@use 'variables' as *;

.button {
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    max-width: max-content;
    border-radius: 6px;
    background-color: #CB3A51;
    border: 0;
    outline: 0;
    transition: $transitionDuration;
    padding: 10px 38px;

    &:hover {
        opacity: $transitionDuration;
    }

    &--big {
        font-size: clamp(20px, 2vw, 29px);
        padding: 19px 60px;
        border-radius: 10px;
    }
}