@use 'variables' as *;

.footer {
    padding: 120px 0 35px 0;

    &__head {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__body {
        margin: 50px 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;

        @media (max-width: $tablet) {
            grid-template-columns: 1fr;

            .footer__logo {
                display: none;
            }
        }
    }

    &__bottom {
        margin: 100px 0 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border-top: 1px solid $fontColor;
        padding: 30px 0 0 0;

        @media (max-width: $mobileLarge) {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            margin: 50px 0;
        }

        .footer__logo {
            img {
                width: 140px;
            }
        }

        p {
            font-size: 18px;
            display: block;
            margin: 20px 0 0 0;
        }
    }

    &__title {
        font-size: clamp(22px, 4vw, 46px);
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        @media (max-width: $mobileMedium) {
            grid-template-columns: 1fr;
        }
    }

    &__link {
        width: fit-content;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        opacity: .5;
        transition: $transitionDuration;

        &:hover {
            opacity: 1;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            opacity: .5;
            transition: $transitionDuration;

            &:hover {
                opacity: 1;
                transform: scale(1.2);
            }
        }
    }
}