@use 'variables' as *;

.creatives {
    padding: 70px 0;
    background-color: #0F0F0F;

    &__title {
        width: 100%;
        text-align: center;
    }

    &__container {
        overflow: visible;
    }

    &__image {
        width: 100%;
    }

    &__description {
        width: 100%;
        max-width: 470px;
        position: relative;
        display: flex;
        justify-self: flex-end;
        margin: -80px 0 0 0;

        @media (max-width: 992px) {
            margin: 30px 0 0 0;
            max-width: 80%;
            justify-self: center;
        }

        p {
            font-size: clamp(16px, 2vw, 20px);
            color: #C1AEB2;
        }

        span {
            position: absolute;
            left: -15px;
            top: -30px;
            z-index: -1;
            display: block;
            width: 73px;
            min-width: 73px;
            height: 55px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml,<svg width="74" height="56" viewBox="0 0 74 56" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.1"><path d="M73.1669 43.2962C73.1669 44.9812 72.8738 46.5562 72.2878 48.0214C71.6284 49.5599 70.7493 50.8785 69.6504 51.9774C68.4783 53.1496 67.0864 54.0653 65.4747 54.7246C63.863 55.384 62.1048 55.7136 60.2 55.7136C58.0023 55.7136 56.0609 55.3107 54.3759 54.5048C52.6177 53.699 51.1892 52.5635 50.0903 51.0983C48.9181 49.7064 48.039 48.058 47.453 46.1533C46.8669 44.3218 46.5738 42.3072 46.5738 40.1095C46.5738 36.8128 47.05 33.3696 48.0024 29.7799C48.9548 26.2635 50.3101 22.7837 52.0683 19.3405C53.8265 15.8241 56.0243 12.4175 58.6616 9.12089C61.2256 5.82423 64.156 2.78396 67.4527 0.000118256L70.7493 3.1869C71.7017 4.06601 72.1779 5.09164 72.1779 6.26378C72.1779 7.21615 71.6651 8.20513 70.6394 9.23076C69.9068 10.0366 68.9911 11.1355 67.8922 12.5274C66.7201 13.8461 65.5479 15.3845 64.3758 17.1427C63.2036 18.901 62.1414 20.8423 61.189 22.9668C60.1634 25.0913 59.4308 27.3624 58.9913 29.7799H60.4198C62.3245 29.7799 64.0461 30.1096 65.5846 30.7689C67.123 31.4283 68.4783 32.344 69.6504 33.5161C70.7493 34.7615 71.6284 36.1901 72.2878 37.8018C72.8738 39.4867 73.1669 41.3182 73.1669 43.2962Z" fill="%23C1AEB2"/><path d="M26.593 43.2962C26.593 44.9812 26.3 46.5562 25.7139 48.0214C25.0546 49.5599 24.1755 50.8785 23.0766 51.9774C21.9044 53.1496 20.5125 54.0653 18.9008 54.7246C17.2891 55.384 15.5309 55.7136 13.6262 55.7136C11.4284 55.7136 9.48704 55.3107 7.80208 54.5048C6.04386 53.699 4.61531 52.5635 3.51643 51.0983C2.34428 49.7064 1.46517 48.058 0.879097 46.1533C0.29303 44.3218 -7.62939e-06 42.3072 -7.62939e-06 40.1095C-7.62939e-06 36.8128 0.476173 33.3696 1.42854 29.7799C2.38091 26.2635 3.73621 22.7837 5.49442 19.3405C7.25263 15.8241 9.45041 12.4175 12.0877 9.12089C14.6518 5.82423 17.5822 2.78396 20.8788 0.000118256L24.1755 3.1869C25.1278 4.06601 25.604 5.09164 25.604 6.26378C25.604 7.21615 25.0912 8.20513 24.0656 9.23076C23.333 10.0366 22.4173 11.1355 21.3184 12.5274C20.1462 13.8461 18.9741 15.3845 17.8019 17.1427C16.6298 18.901 15.5675 20.8423 14.6152 22.9668C13.5895 25.0913 12.857 27.3624 12.4174 29.7799H13.846C15.7507 29.7799 17.4723 30.1096 19.0107 30.7689C20.5491 31.4283 21.9044 32.344 23.0766 33.5161C24.1755 34.7615 25.0546 36.1901 25.7139 37.8018C26.3 39.4867 26.593 41.3182 26.593 43.2962Z" fill="%23C1AEB2"/></g></svg>');
        }
    }

    &__button {
        display: block;
        margin: 30px auto 0 auto;
    }
}