<header class="header">
  <div class="header__container">
    <a href="index.html" class="header__logo">
      <img src="@img/header/logo.svg" alt="Header logo" draggable="false">
    </a>
    <nav class="header__nav" aria-label="Main navigation"> 
      <a href="#hero" class="header__link">Home</a>
      <a href="#works" class="header__link">Our works</a>
      <a href="#programs" class="header__link">Programs</a>
      <a href="#reviews" class="header__link">Reviews</a>
      <button class="header__button button" aria-label="Try demo button">Try demo</button>
    </nav>
    <div class="header__burger" aria-label="Burger menu button">
      <span></span>
    </div>
  </div>
</header>