<div class="creatives anim">
    <div class="creatives__container">
        <h2 class="creatives__title">Juun creative’s<br> images</h2>
        <img src="@img/creatives/image.png" alt="Juun creative" draggable="false" class="creatives__image">
        <div class="creatives__description">
            <span></span>
            <p>Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci.</p>
        </div>
        <button class="button creatives__button">View all</button>
    </div>
</div>