<section class="highlights">
    <div class="highlights__container">
        <h2 class="highlights__title">Program highlights</h2>
        <div class="highlights__items">
            <div class="highlights__item">
                <h3 class="highlights__subtitle">Design<br> up<br> confrense</h3>
                <img src="@img/highlights/1.png" alt="Highlights image" class="highlights__image" draggable="false">
                <p class="highlights__year">2018</p>
            </div>
            <div class="highlights__item">
                <img src="@img/highlights/2.png" alt="Highlights image" class="highlights__image" draggable="false">
                <h3 class="highlights__subtitle">Meet-up<br> function</h3>
                <p class="highlights__year">2019</p>
            </div>
            <div class="highlights__item">
                <h3 class="highlights__subtitle">Juun<br> creatives<br> event</h3>
                <img src="@img/highlights/3.png" alt="Highlights image" class="highlights__image" draggable="false">
                <p class="highlights__year">2020</p>
            </div>
            <div class="highlights__item">
                <img src="@img/highlights/4.png" alt="Highlights image" class="highlights__image" draggable="false">
                <h3 class="highlights__subtitle">Design<br> event</h3>
                <p class="highlights__year">2021</p>
            </div>
        </div>
        <p class="highlights__description">Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci, suscipit porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis nunc. </p>
        <button class="button highlights__button">View all</button>
    </div>
</section>