<section class="reviews anim">
    <div class="reviews__container">
        <h2 class="reviews__title">Students review</h2>
        <div class="reviews__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <div class="reviews__image">
                            <img src="@img/reviews/slide.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <h3 class="reviews__subtitle">
                                Graphic design class
                            </h3>
                            <div class="reviews__text">
                                <p>Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci, suscipit
                                    porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci,
                                    suscipit porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.</p>
                            </div>
                            <div class="reviews__author">
                                <div class="reviews__avatar">
                                    <img src="@img/reviews/woman.png" alt="">
                                </div>
                                <div>
                                    <div class="reviews__name">
                                        Sepeya
                                    </div>
                                    <div class="reviews__position">
                                        Senior visual designer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="reviews__item">
                        <div class="reviews__image">
                            <img src="@img/reviews/slide.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <h3 class="reviews__subtitle">
                                Graphic design class
                            </h3>
                            <div class="reviews__text">
                                <p>Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci, suscipit
                                    porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci,
                                    suscipit porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.</p>
                            </div>
                            <div class="reviews__author">
                                <div class="reviews__avatar">
                                    <img src="@img/reviews/woman.png" alt="">
                                </div>
                                <div>
                                    <div class="reviews__name">
                                        Sepeya
                                    </div>
                                    <div class="reviews__position">
                                        Senior visual designer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="reviews__item">
                        <div class="reviews__image">
                            <img src="@img/reviews/slide.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <h3 class="reviews__subtitle">
                                Graphic design class
                            </h3>
                            <div class="reviews__text">
                                <p>Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci, suscipit
                                    porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci,
                                    suscipit porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.</p>
                            </div>
                            <div class="reviews__author">
                                <div class="reviews__avatar">
                                    <img src="@img/reviews/woman.png" alt="">
                                </div>
                                <div>
                                    <div class="reviews__name">
                                        Sepeya
                                    </div>
                                    <div class="reviews__position">
                                        Senior visual designer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="reviews__item">
                        <div class="reviews__image">
                            <img src="@img/reviews/slide.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <h3 class="reviews__subtitle">
                                Graphic design class
                            </h3>
                            <div class="reviews__text">
                                <p>Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci, suscipit
                                    porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci,
                                    suscipit porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.</p>
                            </div>
                            <div class="reviews__author">
                                <div class="reviews__avatar">
                                    <img src="@img/reviews/woman.png" alt="">
                                </div>
                                <div>
                                    <div class="reviews__name">
                                        Sepeya
                                    </div>
                                    <div class="reviews__position">
                                        Senior visual designer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="reviews__item">
                        <div class="reviews__image">
                            <img src="@img/reviews/slide.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <h3 class="reviews__subtitle">
                                Graphic design class
                            </h3>
                            <div class="reviews__text">
                                <p>Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci, suscipit
                                    porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci,
                                    suscipit porttitor velit elementum non. Fusce nec pellentesque erat, id lobortis
                                    nunc.</p>
                            </div>
                            <div class="reviews__author">
                                <div class="reviews__avatar">
                                    <img src="@img/reviews/woman.png" alt="">
                                </div>
                                <div>
                                    <div class="reviews__name">
                                        Sepeya
                                    </div>
                                    <div class="reviews__position">
                                        Senior visual designer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__pagination swiper-pagination"></div>
        </div>
    </div>
</section>