<div class="works">
    <div class="works__container">
        <h2 class="works__title">Our works</h2>
        <div class="works__video" data-video="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1">
            <img src="@img/works/video-preview.jpg" alt="Our works video preview" draggable="false">

            <div class="works__play">
                <span></span>
            </div>
        </div>
        <p class="works__description">
            Vestibulum tempus imperdiet sem ac porttitor. Vivamus pulvinar commodo orci, suscipit porttitor velit
            elementum non. Fusce nec pellentesque erat, id lobortis nunc.
        </p>
    </div>
    <img class="works__decor works__decor--left" src="@img/works/decor-left.svg" alt="Decorative image"
        draggable="false">
    <img class="works__decor works__decor--right" src="@img/works/decor-right.svg" alt="Decorative image"
        draggable="false">
</div>